/*section chambre du Fossat*/
.chambre {
    display: flex;
    justify-content: space-between;
}

    .descriptionChambre {
        width: 30%;
        margin: 2%;

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .imagesChambre{
        margin : 5px 0 5px;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*Style petit dejeuner*/
.petitDejeuner {
    margin-top: 50px;
    box-sizing: border-box;

    background-color: #C8B8BA;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
}

    .imagePetitDejeuner {
        width : 33%;
    }

        .imagePetitDejeuner img{
            margin: 5%;
            width : 100%;
            border: solid 2px #6d071a;
            border-radius: 10px;
        }

    .textPetitdejeuner {
        width : 66%;

        display : flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

        .textPetitdejeuner h2 {
            color: #6d071a;
            font-family: "segoe Script", cursive;
            font-size: 20px;
        }

        .textPetitdejeuner p {
            font-size: 16px;
            font-family: "DM Serif Display", serif;
        }

