/* ====== Article "Chambre du Fossat" ====== */
.chambre {
    display: flex;
    justify-content: space-between;
}

    .descriptionChambre {
        width: 30%;
        margin: 2%;

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .imagesChambre{
        margin : 2% 0 2% 0;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* ======== Article "Petit dejeuner" ====== */
.petitDejeuner {
    display: flex;
    justify-content: space-between;
}

    .textPetitdejeuner {
        width : 65%;

        display : flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

/* ====== Responsive ======*/
@media screen and (max-width: 768px) {
    .chambre, .petitDejeuner {
        flex-direction: column;
        align-items: center;
    }

    .descriptionChambre, .imagesChambre, .textPetitdejeuner{
        width: 90%;
    }
}

