
/* ====== Style de la section "Reservation" ====== */
.reservation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .lienReservation {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;
    }

/* Style pour la section "Formulaire de contact"*/
.formulaireDeContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    #formulaire {
        width: 90%;
    }

        .contactDonnees {
            display: flex;
            justify-content: space-between;

        }

            .colonne {
                flex: 1;
                display: flex;
                flex-direction: column;

                gap: 10px;
                min-height: 100px;
            }


                .ligne {
                    display: flex;
                    align-items: center;
                    gap: var(--margeStandard);
                }

                    label {
                        width: 30%;
                        text-align: right;
                    }

                    input,
                    textarea {
                        width: 70%;
                        min-height: 30px;
                        border: var(--bordure);
                        border-radius: var(--bordureAngle);
                        background-color: #f9f9f9;
                    }

                    textarea {
                        min-height: 100px;
                    }

    button[type="submit"] {
        margin-top: 30px;
        padding: 12px 28px;
        background-color: var(--couleurPrimaire);
        color: var(--couleurSecondaire);
        border: none;
        border-radius: var(--bordureAngle);
        cursor: pointer;
        transition: var(--transition);
    }

        button[type="submit"]:hover {
            background-color: #8d1c2e;
        }

/* ====== Responsive ======*/
@media screen and (max-width: 768px) {
    .reservation {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lienReservation {
        width: 90%;
    }

    .contactDonnees {
        flex-direction: column;
        gap: 10px;
    }

    .colonne {
        width: 100%;
    }

    .ligne {
        flex-direction: column;
        text-align: left;
    }

    .ligne label {
        width: 100%;
        text-align: left;
        padding-bottom: 5px;
    }

    input, textarea {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }
}
