/* ====== Style pour l'article domaine ====== */
.domaine {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

    .domaineTexte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

        .domaineTexte ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .domaineTexte ul li {
                margin-bottom: 5px;
                font-size: 16px;
            }

/* ====== Style pour image parallax ====== */
.photoParallax {
    margin-top: 50px;
    background: url('Images/photoDomaine.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

/* ====== Style pour la section "Chambre" ======= */
.chambre {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .photosChambre {
        display: flex;
        justify-content: space-around;
    }

/* ====== Style pour la section "Contact et reservation" ====== */
.contactEtReservation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .adresseEtCoordonnées {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: var(--margeStandard);
        width: 50%;
    }

        .informations {
            width: 70%;

            display: flex;
            flex-direction: column;
        }

            .information {
                display: flex;
                align-items: center;
            }

            .information p {
                margin-left: 10% ;
            }

/* ====== Responsive ======*/
@media screen and (max-width: 768px) {
    .domaine, .photosChambre, .contactEtReservation {
        flex-direction: column;
        align-items: center;
    }

    .domaineTexte, .adresseEtCoordonnées, .informations {
        width: 90%;
    }
}