/*Style pour le pied de page*/
footer {
    display: flex;
    justify-content: center;
}

    .piedDePage {
        margin-top: 50px;

        background-color: #d5d1d0;
        border: 2px solid #6d071a;
        border-radius: 10px;
        width: 98%;

        display : flex;
        justify-content: space-between;
        align-items: center;
    }

        .droitImage {
            height: 90%;
            padding: 0 1% 0 1%;

            border-right: 2px solid #6d071a;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .droitImage a {
                font-size: 0.9rem;
                color: #6d071a;
                text-decoration: none;
            }

            .droitImage a:hover {
                color: #b1003b;
                text-decoration: underline;
            }

        .createurSite {
            width : 50%;
            height: 90%;

            border-right : 2px solid #6d071a;

            display: flex;
            justify-content: center;
            align-items: center;
        }

            .createurSite a {
                font-size: 0.9rem;
                color: #6d071a;
                text-decoration: none;
            }

        .logosPartenaire {
            width : 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .logoPartenaire {
                width : 20%;
            }

                .logoPartenaire img {
                    width : 100%;
                    object-fit: contain;
                }