body {
    margin : 0;
}

/* Styles pour l'en tête' */
header {
    display: flex;
    justify-content: center;
}

.enTete {
    position: fixed;
    top: 0;
    margin-top: 0;
    width : 98%;

    background-color: #d5d1d0;
    border: 2px solid #6d071a;
    border-radius: 10px;

    display: flex;
    justify-content: space-between; /* Ajuste l'espacement horizontal */
    align-items: center; /* Centre verticalement les éléments */

    transition: all 0.5s ease;
}

    .logo {
        width: 30%;
    }

    .enTete img {
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }

    .menu {
        flex-grow: 1;
        text-align: center;
    }

        .menu h1 {
            margin-bottom: -20px;

            font-family: "Segoe Script", cursive;
            font-size: 40px;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        .menu h2 {
            margin-bottom: 40px;

            font-family: "segoe Script", cursive;
            font-size: 20px;
            color: #333;
        }

        .menu nav ul {
            margin: 0;
            padding: 0;

            list-style: none;

            display: flex;
            justify-content: center;
        }
        
        .menu nav ul li {
            margin: 0 20px 0 0;

            display: inline-block;
        }
        
        .menu nav ul li a {
            color: #6d071a;
            font-weight: bold;
            font-family: "Segoe Script", cursive;
            text-decoration: none;
            text-transform: uppercase;

            transition: color 0.3s;
        }
        
            .menu nav ul li a:hover {
                color: #BB9FA3;
            }

/*Style pour l'en tête réduit*/
.enTete.shrink div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .enTete.shrink img, .enTete.shrink h2 {
        display: none;
    }

    .enTete.shrink nav ul, .enTete.shrink h1 {
        margin: 0 0 0 0;
        transition: margin 1s ease;
    }

/*Style pour la section domaine*/
.domaine {
    margin-top: 60px;
    box-sizing: border-box;

    background-color: #C8B8BA;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: space-between;
}

    .domaineImage {
        width: 35%;
    }

        .domaineImage img {
            width: 100%;
            height: 100%;
        }

    .domaineTexte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

        .domaineTexte h2 {
            color: #6d071a;
            font-family: "segoe Script", cursive;
            font-size: 20px;
        }

        .domaineTexte ul {
            margin: 0;
            padding: 0;

            list-style: none;
        }
        
        .domaineTexte ul li {
            margin-bottom: 5px;

            font-size: 16px;
            font-family: "DM Serif Display", serif;
        }
 
/*Style pour image parallax*/
.photoParallax {
    margin-top: 50px;

    background: url(Images/photoDomaine.jpg) no-repeat fixed;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

/*Style pour la section chambre*/
.chambre {
    margin-top: 50px;
    box-sizing: border-box;

    background-color: #C8B8BA;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .chambre h2 {
        color: #6d071a;
        font-family: "segoe Script", cursive;
    }

    .photosChambre {
        display: flex;
        justify-content: space-around;
    }

        .photoChambre {
            width: 30%;
            margin-bottom: 10px;
        }

        .photoChambre img {
            width: 100%;
            border: solid 2px #BB9FA3;
            border-radius: 10px;
        }

/*Style pour la section contact*/
.contact {
    margin-top: 50px;
    box-sizing: border-box;

    background-color: #C8B8BA;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .coordonnées {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .coordonnées h2 {
            color: #6d071a;
            font-family: "segoe Script", cursive;
        }

        .coordonnée {
            display: flex;
            align-items: center;
            width: 100%;
        }

            .coordonnée p {
                font-size: 16px;
                font-family: "DM Serif Display", serif;
            }

            .coordonnée img{
                max-width: 40px;
                height: 40px;
                padding-right: 50px;
            }

    .plan {
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 2px  #BB9FA3;
    }

    .plan iframe {
        height: 300px;
    }

/*Style pour le pied de page*/
footer {
    display: flex;
    justify-content: center;
}

    .piedDePage {
        margin-top: 50px;

        background-color: #d5d1d0;
        border: 2px solid #6d071a;
        border-radius: 10px;
        width: 98%;

        display : flex;
        justify-content: space-between;
        align-items: center;
    }

        .droitImage {
            height: 90%;
            padding: 0 1% 0 1%;

            border-right: 2px solid #6d071a;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .logoPartenaire {
            width: 5%;
            padding: 1% 1% 1% 1%;
        }

            .logoPartenaire img {
                width : 100%;
            }