/* Styles pour le header */
.enTete {
    display: flex;
    justify-content: space-between; /* Ajuste l'espacement horizontal */
    align-items: center; /* Centre verticalement les éléments */
    background-color: #f2f2f2;
    border: 2px solid #ffdab9;
    border-radius: 10px;
    padding: 20px; /* Ajoute un espace interne pour le contenu */
}

    .logo img {
        width: 150px; 
        height: auto;
        margin-right: 10px;
        border: 2px solid #ffdab9;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .logo img:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-image: url("Images/decoration.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
      }

    .navigation {
        flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
        text-align: center;
    }

        .navigation h1 {
            font-family: "Segoe Script", cursive;
            font-size: 40px;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        .navigation nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        
        .navigation nav ul li {
            margin: 0 10px;
            display: inline-block;
        }
        
        .navigation nav ul li a {
            color: #ffb6c1;
            text-decoration: none;
            font-weight: bold;
            font-family: "Segoe Script", cursive;
            text-transform: uppercase;
            position: relative;
            transition: color 0.3s;
        }
        
        .navigation nav ul li a:hover {
            color: #ffdab9;
        }



