/* ====== Variable de style ====== */
:root {
    /*Couleurs*/
    --couleurPrimaire: #6d071a;
    --couleurSecondaire: #C8B8BA;
    --couleurTertiaire: #333;

    /*Propriétés des textes*/
    --policePrincipal: 'DM Serif Display', serif;
    --policeSecondaire: "Segoe Script", cursive;
    --tailleTire: 30px;
    --tailleTexte: 16px;

    /*Propriétés des liens*/
    --etatPassif : 2px solid transparent;
    --etatActif : 2px solid;
    --transition : all 0.3s ease;

    /*Bordures et marges*/
    --ombre: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
    --bordure: 2px solid var(--couleurPrimaire);
    --bordureAngle: 10px;
    --margeStandard: 2%;
    --margeSection: 50px;
}

/* ====== Style général des section et article ====== */
section, article{
    box-sizing: border-box;
    margin-top: var(--margeSection);
    background-color: var(--couleurSecondaire);
    box-shadow: var(--ombre);
}

/* ====== Textes ====== */
.titre {
    color: var(--couleurPrimaire);
    font-family: var(--policeSecondaire);
    font-size: var(--tailleTire);
}

.textePrimaire {
    font-family: var(--policePrincipal);
    color: var(--couleurTertiaire);
    font-size: var(--tailleTexte);
}

.texteSecondaire {
    font-family: var(--policePrincipal);
    color: var(--couleurPrimaire);
    font-size: var(--tailleTexte);
}

.texteTertiaire {
    font-family: var(--policeSecondaire);
    color: var(--couleurTertiaire);
    font-size: var(--tailleTexte);
}

.titreLien {
    text-decoration: none;
    color: var(--couleurPrimaire);
    font-family: var(--policeSecondaire);
    font-size: var(--tailleTire);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.texteLien {
    text-decoration: none;
    color: var(--couleurPrimaire);
    border-bottom: var(--etatPassif);
    transition: var(--transition);
}

    .texteLien:hover, .titreLien:hover {
        border-bottom: var(--etatActif);
    }

/* ====== Images ====== */
.conteneurPhoto {
    width: 35%;
    margin: var(--margeStandard);
}

    .photo {
        width: 100%;
        border: var(--bordure);
        border-radius: var(--bordureAngle);
    }

.conteneurLogo {
    width: 40px;
    display: flex;
    align-items: center;
}

    .logo {
        width: 100%;
    }


/* ====== Carousel ====== */
.carrousel {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.carrouselBoutons {
    display: flex;
    align-items: center;
}

.carouselBoutonPrecedent, .carrouselBoutonSuivant {
    background-color: transparent;
    border: none;
    font-size: var(--tailleTire);
    color: var(--couleurPrimaire);
    cursor: pointer;
}

.carrouselPointsDefilement {
    display: flex;
    justify-content: center;
    margin-top: var(--margeStandard);
    gap: 8px;
    position: relative;
}

    .point {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--couleurTertiaire);
        cursor: pointer;
        transition: var(--transition);
    }

        .point.actif {
            background-color: var(--couleurPrimaire);
        }

/* ====== Plan ====== */
.plan {
    width: 50%;
    margin: var(--margeStandard);
    border: var(--bordure);
}

.plan iframe {
    width : 100%;
    max-height: 300px;
}

/* ====== Responsive ======*/
@media screen and (max-width: 768px) {
    .conteneurPhoto, .plan {
        width: 70%;
    }
}
